<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.url == '/' %}
      {{ site.title | escape }}
    {% elsif page.title %}
      {{ site.title | escape }}: {{ page.title | escape }}
    {% else %}
      {{ site.title | escape }}
    {% endif %}
  </title>

  {% comment %} TODO {% endcomment %}
  {% comment %} <meta propery="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" /> {% endcomment %}
  {% comment %} <meta property="og:image" content="https://ozseccon.com{% asset_path 'headerbackground.jpg'%}" /> {% endcomment %}
  {% comment %} <meta name="author" content="@{{ site.twitter_username }}" /> {% endcomment %}
  {% comment %} <meta name="twitter:creator" content="@{{ site.twitter_username }}" /> {% endcomment %}
  {% comment %} <link rel="icon" type="image/ico" href="{% asset_path 'levelup.ico'%}"> {% endcomment %}

  <link rel="stylesheet" href="{{ "/public/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
